.title {
  font-weight: 700 !important;
  font-size: rem(24px) !important;
  font-family:
    Greycliff CF,
    var(--mantine-font-family) !important;
  margin: auto !important;
  margin-left: 6px !important;
  /* @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(32px);
  } */
}
