.title {
  font-weight: 700;
  font-size: rem(24px);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  margin: auto;
  margin-left: 6px;
  /* @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(32px);
  } */
}
